<div class="versus-table">
    <div>
        <div class="user">{{user_1.getName()}}</div>
        <div [@leftHunter]=leftHunterState [ngStyle]="getStyle(0)" class="hero-panel">
            <div class="hero-title">Hunter</div>
            <div class="hero-info">
                <div class="hero-stats">
                    HERO CHARACTERISTIC<br><br>
                    Health: {{user_1.getHunter().getHealth()}}<br>
                    Damage: {{user_1.getHunter().getDamage()}}<br>
                    Strength: {{user_1.getHunter().getStrength()}}<br>
                    Agility: {{user_1.getHunter().getAgility()}}<br>
                    Intelligence: {{user_1.getHunter().getIntelligence()}}<br>
                </div>
                <div class="hero-item">
                    <div *ngFor="let item of itemValueList" [ngClass]="getClass(item,user_1.getCharacterList()[0])"
                         class="item-inventory-0 item"></div>
                </div>
            </div>
        </div>
        <div [ngStyle]="getStyle(1)" class="hero-panel">
            <div class="hero-title">Warrior</div>
            <div class="hero-info">
                <div class="hero-stats">
                    HERO CHARACTERISTIC<br><br>
                    Health: {{user_1.getWarrior().getHealth()}}<br>
                    Damage: {{user_1.getWarrior().getDamage()}}<br>
                    Strength: {{user_1.getWarrior().getStrength()}}<br>
                    Agility: {{user_1.getWarrior().getAgility()}}<br>
                    Intelligence: {{user_1.getWarrior().getIntelligence()}}<br>
                </div>
                <div class="hero-item">
                    <div *ngFor="let item of itemValueList" [ngClass]="getClass(item,user_1.getCharacterList()[1])"
                         class="item-inventory-0 item"></div>
                </div>
            </div>
        </div>
        <div [ngStyle]="getStyle(2)" class="hero-panel">
            <div class="hero-title">Mage</div>
            <div class="hero-info">
                <div class="hero-stats">
                    HERO CHARACTERISTIC<br><br>
                    Health: {{user_1.getMage().getHealth()}}<br>
                    Damage: {{user_1.getMage().getDamage()}}<br>
                    Strength: {{user_1.getMage().getStrength()}}<br>
                    Agility: {{user_1.getMage().getAgility()}}<br>
                    Intelligence: {{user_1.getMage().getIntelligence()}}<br>
                </div>
                <div class="hero-item">
                    <div *ngFor="let item of itemValueList" [ngClass]="getClass(item,user_1.getCharacterList()[2])"
                         class="item-inventory-0 item"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="versus">VS</div>
        <div (click)="onStart()" class="start">Start Battle</div>
    </div>
    <div>
        <div class="user">{{user_2.getName()}}</div>
        <div [ngStyle]="getStyle(3)" class="hero-panel">
            <div class="hero-title">Hunter</div>
            <div class="hero-info">
                <div class="hero-stats">
                    HERO CHARACTERISTIC<br>
                    Health: {{user_2.getHunter().getHealth()}}<br>
                    Damage: {{user_2.getHunter().getDamage()}}<br>
                    Strength: {{user_2.getHunter().getStrength()}}<br>
                    Agility: {{user_2.getHunter().getAgility()}}<br>
                    Intelligence: {{user_2.getHunter().getIntelligence()}}<br>
                </div>
                <div class="hero-item">
                    <div *ngFor="let item of itemValueList" [ngClass]="getClass(item,user_2.getCharacterList()[0])"
                         class="item-inventory-0 item"></div>
                </div>
            </div>
        </div>
        <div [ngStyle]="getStyle(4)" class="hero-panel">
            <div class="hero-title">Warrior</div>
            <div class="hero-info">
                <div class="hero-stats">
                    HERO CHARACTERISTIC<br>
                    Health: {{user_2.getWarrior().getHealth()}}<br>
                    Damage: {{user_2.getWarrior().getDamage()}}<br>
                    Strength: {{user_2.getWarrior().getStrength()}}<br>
                    Agility: {{user_2.getWarrior().getAgility()}}<br>
                    Intelligence: {{user_2.getWarrior().getIntelligence()}}<br>
                </div>
                <div class="hero-item">
                    <div *ngFor="let item of itemValueList" [ngClass]="getClass(item,user_2.getCharacterList()[1])"
                         class="item-inventory-0 item"></div>
                </div>
            </div>
        </div>
        <div [ngStyle]="getStyle(5)" class="hero-panel">
            <div class="hero-title">Mage</div>
            <div class="hero-info">
                <div class="hero-stats">
                    HERO CHARACTERISTIC<br>
                    Health: {{user_2.getMage().getHealth()}}<br>
                    Damage: {{user_2.getMage().getDamage()}}<br>
                    Strength: {{user_2.getMage().getStrength()}}<br>
                    Agility: {{user_2.getMage().getAgility()}}<br>
                    Intelligence: {{user_2.getMage().getIntelligence()}}<br>
                </div>
                <div class="hero-item">
                    <div *ngFor="let item of itemValueList" [ngClass]="getClass(item,user_2.getCharacterList()[2])"
                         class="item-inventory-0 item"></div>
                </div>
            </div>
        </div>
    </div>
</div>