<div class="row">
    <div *ngFor="let item of bookList" class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <div style="height: 300px; background-repeat: round" [ngStyle]="{'background-image': 'url(' + item.bookCover + ')'}"></div>
            </div>
            <div class="card-content">
                <span class="card-title" style="font-size: 20px">{{item.name}}</span>
            </div>
            <div class="card-action">
                <a (click)="onOpen(item)" style="cursor: pointer">Open</a>
            </div>
        </div>
    </div>
</div>
