<div class="character" [ngStyle]="getStyleCharacter(item)">
    <div class="player">
        {{user.getName()}}
    </div>
    <div class="bonuses">
        HERO CHARACTERISTIC<br>
        Strength: {{hero.strength}}<br>
        Agility: {{hero.agility}}<br>
        Intelligence: {{hero.intelligence}}<br><br>
        GEAR BONUSES<br>
        Strength: +{{character.strength}}<br>
        Agility: +{{character.agility}}<br>
        Intelligence: +{{character.intelligence}}<br>
    </div>
    <item *ngFor="let item of itemList" [item]="item"></item>
    <div
            *ngFor="let item of itemValueList" class="cell"
            [ngClass]="[item]" [ngStyle]="getStyle(item)"
            (dragover)="onDragOver($event,item)" (drop)="onDrop($event,item)">
    </div>
</div>