<div *ngIf="book" class="row">
    <div class="col s12 m12">
        <div class="card-panel teal" style="color: #343434;background-color: #ffffff!important;">
            <img style="float:left; width: 300px; margin-right: 10px" src="http://i.imgur.com/IibDqjf.jpg">
            <div style="font-size: 25px; text-align: center">{{book.name}}</div>
            <div class="divider" style="margin-bottom: 10px"></div>
            <div style="font-size: 18px">
                Country:{{book.country}}<br>
                ISBN:{{book.isbn}}<br>
                Media type:{{book.media}}<br>
                Number of pages:{{book.numberOfPages}}<br>
                Publisher:{{book.publisher}}<br>
                Released:{{book.released}}
            </div>
            <br style="clear: both;">
        </div>
    </div>
</div>