<div class="character">
    <div class="bonuses">
        GEAR BONUSES<br><br>
        Dexterity: +{{character.dexterity}}<br>
        Vitality: +{{character.vitality}}<br>
        Critical Hit Chance Increased by: {{character.criticalChance}}%<br>
        Extra Gold from Monsters: {{character.extraGold}}%<br>
        Critical Hit Damage Increased by: {{character.criticalHit}}%<br>
    </div>
    <item *ngFor="let item of itemList" [item]="item"></item>
    <div
            *ngFor="let item of itemValueList" class="cell"
            [ngClass]="[item]" [ngStyle]="getStyle(item)"
            (dragover)="onDragOver($event,item)" (drop)="onDrop($event,item)">
    </div>
</div>