<div class="character">
    <div class="bonuses">
        GEAR BONUSES<br><br>
        Dexterity: +{{hero.dexterity}}<br>
        Vitality: +{{hero.vitality}}<br>
        Critical Hit Chance Increased by: {{hero.criticalChance}}%<br>
        Extra Gold from Monsters: {{hero.extraGold}}%<br>
        Critical Hit Damage Increased by: {{hero.criticalHit}}%<br>
    </div>
    <item *ngFor="let item of itemList" [item]="item"></item>
    <div
            *ngFor="let item of itemValueList" class="cell"
            [ngClass]="[item]" [ngStyle]="getStyle(item)"
            (dragover)="onDragOver($event,item)" (drop)="onDrop($event,item)">
    </div>
</div>