.character {
  background-image: url("http://image.prntscr.com/image/1370bcf5c5f446069aee7395403650c5.png");
  position: relative;
  width: 610px;
  height: 516px;
}

.bonuses {
  text-align: left;
  position: absolute;
  top: 300px;
  left: 20px;
  color: #c8c8c8;
}
.noDrag{

}

.cell{
  z-index: 11;
  position:absolute;
}

.valid {
  background-color: rgba(52, 138, 34, 0.46);
}

.invalid {
  background-color: rgba(147, 15, 18, 0.46);
}

.item{

}

.shoulders {
  top: 126px;
  left: 345px;
  width: 64px;
  height: 86px;
}

.hands {
  top: 225px;
  left: 319px;
  width: 64px;
  height: 86px;
}

.finger-left {
  top: 325px;
  left: 331px;
  width: 40px;
  height: 40px;
}

.hand-left {
  top: 380px;
  left: 319px;
  width: 64px;
  height: 128px;
}

.head {
  top: 102px;
  left: 427px;
  width: 64px;
  height: 64px;
}

.torso {
  top: 172px;
  left: 419px;
  width: 80px;
  height: 113px;
}

.waist {
  top: 291px;
  left: 419px;
  width: 80px;
  height: 32px;
}

.legs {
  top: 329px;
  left: 427px;
  width: 64px;
  height: 86px;
}

.feet {
  top: 421px;
  left: 427px;
  width: 64px;
  height: 86px;
}

.neck {
  top: 146px;
  left: 511px;
  width: 54px;
  height: 54px;
}

.bracers {
  top: 225px;
  left: 535px;
  width: 64px;
  height: 86px;
}

.finger-right {
  top: 325px;
  left: 547px;
  width: 40px;
  height: 40px;
}

.hand-right {
  top: 380px;
  left: 535px;
  width: 64px;
  height: 128px;
}


