.item {
  z-index: 10;
  position: absolute; }

.characterItemsDem {
  background: url("http://image.prntscr.com/image/a5a35afac1e449f893566580491f26db.png") no-repeat; }

.characterItemsWar {
  background: url("http://image.prntscr.com/image/e22809e3ab7f4d7bbf63804384165269.png") no-repeat; }

.characterItemsMag {
  background: url("http://image.prntscr.com/image/f9d67a00812f4d1bbe627352a186e473.png") no-repeat; }

.characterItemsDemMini {
  background: url("http://image.prntscr.com/image/ee043e57948749fdbf275cf3166c7a86.png") no-repeat; }

.characterItemsWarMini {
  background: url("http://image.prntscr.com/image/a240ae986b7d4a66bddedb2e265abd35.png") no-repeat; }

.characterItemsMagMini {
  background: url("http://image.prntscr.com/image/a240ae986b7d4a66bddedb2e265abd35.png") no-repeat; }

.item-inventory, .item-inventory-0, .item-inventory-1, .item-inventory-2, .item-inventory-3, .item-inventory-4, .item-inventory-5, .item-inventory-6, .item-inventory-7, .item-inventory-8, .item-inventory-9, .item-inventory-10, .item-inventory-11, .item-inventory-12, .item-inventory-13, .item-inventory-14, .item-inventory-15, .item-inventory-16, .item-inventory-17, .item-inventory-18, .item-inventory-19 {
  width: 43.5px;
  height: 53px; }

.item-inventory-0 {
  background-position-x: -176px;
  background-position-y: -106px; }

.item-inventory-1 {
  background-position-x: -176px;
  background-position-y: -53px; }

.item-inventory-2 {
  background-position-x: 0px;
  background-position-y: -53px; }

.item-inventory-3 {
  background-position-x: -44px;
  background-position-y: 0px; }

.item-inventory-4 {
  background-position-x: 0px;
  background-position-y: -159px; }

.item-inventory-5 {
  background-position-x: 0px;
  background-position-y: 0px; }

.item-inventory-6 {
  background-position-x: -44px;
  background-position-y: -53px; }

.item-inventory-7 {
  background-position-x: -176px;
  background-position-y: 0px; }

.item-inventory-8 {
  background-position-x: -88px;
  background-position-y: -106px; }

.item-inventory-9 {
  background-position-x: 0px;
  background-position-y: -106px; }

.item-inventory-10 {
  background-position-x: -132px;
  background-position-y: -106px; }

.item-inventory-11 {
  background-position-x: -88px;
  background-position-y: 0px; }

.item-inventory-12 {
  background-position-x: -44px;
  background-position-y: -106px; }

.item-inventory-13 {
  background-position-x: -132px;
  background-position-y: -53px; }

.item-inventory-14 {
  background-position-x: -132px;
  background-position-y: 0px; }

.item-inventory-15 {
  background-position-x: -88px;
  background-position-y: -53px; }

.item-inventory-16 {
  background-position-x: 0px;
  background-position-y: 0px; }

.item-inventory-17 {
  background-position-x: -44px;
  background-position-y: 0px; }

.item-inventory-18 {
  background-position-x: -88px;
  background-position-y: 0px; }

.item-inventory-19 {
  background-position-x: -132px;
  background-position-y: 0px; }

.item-inventory-19 {
  background-position-x: -176px;
  background-position-y: 0px; }

.hero-panel {
  background-color: rgba(34, 21, 12, 0.6);
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #160d07;
  position: relative; }
  .hero-panel .health {
    text-align: center;
    font-size: 10px;
    color: white;
    height: 10px;
    background-color: #1a902b;
    margin-bottom: 10px;
    width: 344px; }
  .hero-panel .hero-title {
    color: #f0f0f0;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px; }
  .hero-panel .hero-info {
    display: flex; }
    .hero-panel .hero-info .hero-stats {
      color: #f0f0f0;
      padding-right: 20px; }
    .hero-panel .hero-info .hero-item {
      position: relative;
      width: 140px;
      height: 281px; }

.size, .shoulders, .hands, .finger-left, .hand-left, .head, .torso, .waist, .legs, .feet, .neck, .bracers, .finger-right, .hand-right {
  width: 44px;
  height: 53px;
  background-color: rgba(34, 21, 12, 0.71); }

.shoulders {
  top: 27px;
  left: 0px; }

.hands {
  top: 84px;
  left: 0px; }

.finger-left {
  top: 141px;
  left: 0px; }

.hand-left {
  top: 198px;
  left: 0px; }

.head {
  top: 0px;
  left: 48px; }

.torso {
  top: 57px;
  left: 48px; }

.waist {
  top: 114px;
  left: 48px; }

.legs {
  top: 171px;
  left: 48px; }

.feet {
  top: 228px;
  left: 48px; }

.neck {
  top: 27px;
  left: 96px; }

.bracers {
  top: 84px;
  left: 96px; }

.finger-right {
  top: 141px;
  left: 96px; }

.hand-right {
  top: 198px;
  left: 96px; }

/*# sourceMappingURL=battle-hero.component.css.map */
